body {
    background: #5c677d;
    text-align: center;
}

* {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    margin: 20px;

    color: #212529;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

a img {
    width: 30px;
    height: auto;
}

#calculator {
    background: #212529;
    
    width: 280px;
    height: 450px;

    margin: 200px auto 10px auto;

    padding: 5px 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px #212529;
}

#calculator-display {
    background: #343a40;
    text-align: right;

    height: 60px;
    width: 250px;
    margin: 25px auto 20px auto;

    border-radius: inherit;
}

#calculator-display * {
    margin: 0;
}

#calculator-display h4 {
    padding: 5px 5px 0 0;
}

#calculator-display h2 {
    padding: 0 5px 0 0;
}

button {
    background: #495057;
    border: none;
    border-radius: 15px;

    font-size: 20px;
    width: 55px;
    height: 55px;

    transition: all 0.3s;
}

#equal-button {
    width: 123px;
}

.button-rows {
    display: flex;
    justify-content: space-around;
    
    margin: 10px;
}