/* import 'Nunito Sans' font family */
@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
}

body {
    background: #5c677d;

    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

a {
    margin: 20px;
    line-height: 22px;

    color: #212529;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: 0.3s;
}

a:hover { font-size: 22px; }

a img {
    width: 30px;
    height: auto;
}

#calculator {
    background: #212529;
    
    width: 280px;
    height: 450px;

    padding: 5px 20px;

    border-radius: 10px;
    box-shadow: 0 0 10px #212529;
}

#calculator-display {
    background: #343a40;

    height: 60px;
    width: 250px;
    margin: 25px auto 20px auto;

    border-radius: inherit;
}

#calculator-display * { margin: 0; }

#calculator-display h4 {
    padding: 8px 0 0 10px;
    text-align: left;
    font-weight: 300;
}

#calculator-display h2 {
    padding: 0 10px 0 0;
    margin-top: -5px;
    text-align: right;
    font-weight: 400;
}

button {
    background: #495057;
    border: none;
    border-radius: 15px;

    font-size: 20px;
    width: 55px;
    height: 55px;

    transition: 0.3s;

    display: flex;
    justify-content: center;
    align-items: center;
}

#equal-button { width: 123px; }

.button-rows {
    display: flex;
    justify-content: space-around;
    
    margin: 10px;
}